
@import 'tll-variables';
@import 'tll-baseline';
@import 'tll-fonts';


// Naive-UI component partial CSS

.n-button.collapse {
    .n-button__content {
        display: none !important;
        @media (min-width: $breakpoint-md) {
            display: inline !important;
        }
    }
    .n-button__icon {
        margin-right: 0px;
        @media (min-width: $breakpoint-md) {
            margin-right: var(--n-icon-margin);
        }
    }
}
.n-switch {
    &.n-switch--active {
        &.checked-icon-danger .n-switch__button-icon {
            --n-icon-color: #db3030;
        }
        &.checked-icon-warning .n-switch__button-icon {
            --n-icon-color: #f8c620;
        }
    }
}
.n-input textarea {
    font-size: 15px !important;
}