@import 'tll-variables';

:root {
    font-family: $text-font;
    font-size: $text-size;
    line-height: $text-size*1.6;
    font-weight: $text-weight;
  
    color-scheme: dark light;
    color: $text;
    background-color: $background;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    
    @media (prefers-color-scheme: light) {
        color: $light-text;
        background-color: $light-background;
    }
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    position: relative;
    &#app {
        width: 100%;
        height: 100%;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: $heading-font;
    font-weight: $heading-weight;
    margin-bottom: $gap;
    &.first {
        margin-top: 0;
    }
}
h4, h5, h6 {
    margin-bottom: calc($gap / 2);
}
h1 { font-size: $h1-size; }
h2 { font-size: $h2-size; }
h3 { font-size: $h3-size; }
h4 { font-size: $h4-size; }
h5 { font-size: $h5-size; }
h6 { font-size: $h6-size; }

a {
    color: $link;
    font-weight: $link-weight;
    text-decoration: inherit;
    &:hover {
        color: $link-hover;
    }
}

p {
    padding: $text-pad;
    margin: $text-pad 0;
}

.n-space.top-gap {
    margin-top: $gap;
}